<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ImmidART Test Suite" parallel="false" thread-count="1">
    
    <!-- Chrome Browser Tests -->
    <test name="Login Tests - Chrome" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.immidart.tests.LoginTest"/>
        </classes>
    </test>

    <!-- Firefox Browser Tests -->
    <test name="Login Tests - Firefox" preserve-order="true">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.immidart.tests.LoginTest"/>
        </classes>
    </test>

    <!-- Edge Browser Tests -->
    <test name="Login Tests - Edge" preserve-order="true">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.immidart.tests.LoginTest"/>
        </classes>
    </test>

    <!-- Data-Driven Tests -->
    <test name="Login Tests - Data-Driven" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.immidart.tests.LoginDataDrivenTest"/>
        </classes>
    </test>

</suite>
